.banner{
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
    color: aliceblue;
}
.thoughts-padding{
    padding:75px 0;
}